<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home_page</title>
    <link rel="stylesheet" href="/stylesheets/about_page.css">
</head>
<body>
    <div id = "headingone" >
        <h1>DOCUMENT HELPER</h1>
    </div>

    <div id = "searchbar">
        <input id="search" type="Searchbar">
    <button>search</button><br>
    </div>

    
    
    <div id="navbar1">
        <a href="/">HOME</a>
        <a href="/about_page">ABOUT US</a>
        <a href="">POPULAR SERVICES</a>
        <a href="">FAQ</a>
    </div>
    
    

        
    



   

</body>
</html>