*{
    padding: 0;
    margin:0;
}

body {
    background: #fbe4d6;
}

h1{
    padding-top: 31.2px;
    
}

#headingone{

    height:100px ;
    font-size: arial;
    text-align: center;
    color: #ffffff;
    background-color: #0C0950;     
}

#searchbar{
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    

    #search{
        
        height: 25px;
        width: 350px;
        border-style: hidden;
        border-radius: 4px
    }
    button{
        height: 25px;
        width: 60px;
        background-color: #574ff6;
        color: #ffffff;
        border-style: hidden;
        
        border-radius: 4px;
    }
}

a{
    margin-right: 100px;
    text-decoration: none;
    color: #d4f0f8;
    

}

#navbar1{
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    
    background-color:#261FB3;
    
}
