*{
    padding: 0;
    margin:0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

body {
    background: #dce3fb;
}



#heading{
    height:200px ;
    font-size: 32px;
    font-family: Arial;
    text-align: center;
    color: #ffffff;
    background-color: #0C0950;   
    
    h1{
        padding-top: 62.4px;
        
    }
}

/* #para{
    padding: 40px;
    text-align: left;
    font-weight: 700;
    font-size: 25px;
    
} */

#bullet_points{
    padding: 40px;
    text-align: left;
    font-weight: 700;
    font-size: 25px;
    color: #261FB3 ;

}

#aadhar{
  
    padding: 50px;
    display: flex;

    div{
        display: inline-block;
        margin-right: 100px;
        
    }

    
    #aadhar_logo{
        height: 300px;
        width: 300px;
        background-color: #0C0950;
        border-radius: 20px;
        
        
        background-image: url(aadhar.jpeg);
        background-size: cover;
    
    
    }

    #aadhar_info{

        
        margin: 0 auto;
        height: 300px;
        width: 1000px;
        background-color: #ffffff;
        border-radius: 20px; 
         
        
        
        
        #a_info{

            
            /* padding: 20px; */
            margin: 30px;
            

            h2{
                
                margin-bottom: 25px;
                font-size: 30px;
                color: #0C0950;
                
                
            }

            li{
                margin-bottom: 15px;
                font-size: 20px;
                font-weight: 500;
                color: #0C0950;
                /* font-family: cursive; */
            }

            a{
                text-decoration: none;
                margin-left: 750px;
                font-weight: 700;
                color: #0C0950;
            }
        }
    }
}

    #pancard{
  
        padding: 50px;
        padding-bottom: 30px;
        display: flex;
    
        div{
            display: inline-block;
            margin-right: 100px;
            
        }
    
        #pancard_logo{
            height: 300px;
            width: 300px;
            background-color: #0C0950;
            border-radius: 20px;
            
            margin-bottom: 60px;
            background-image: url(pancard.webp);
            background-size: cover;
    
            text-align: center;
            
    
            a{
                text-decoration: none;            
            }  
        
        }
    
        #pancard_info{
             
            margin: 0 auto;
            height: 300px;
            width: 1000px;
            background-color: #ffffff;
            border-radius: 20px;  
            margin-bottom: 60px; 

            #p_info{
                margin: 30px;
            

                h2{
                    
                    margin-bottom: 25px;
                    font-size: 30px;
                    color: #0C0950;
                    
                    
                }
    
                li{
                    margin-bottom: 15px;
                    font-size: 20px;
                    font-weight: 500;
                    color: #0C0950;
                    /* font-family: cursive; */
                }
    
                a{
                    text-decoration: none;
                    margin-left: 750px;
                    font-weight: 700;
                    color: #0C0950;
                }
            }
            
            
        
        }
    }


    #voter{
  
        padding: 50px;
        padding-bottom: 30px;
        display: flex;
    
        div{
            display: inline-block;
            margin-right: 100px;
            
        }
    
        #voter_id{
            height: 300px;
            width: 300px;
            background-color: #0C0950;
            border-radius: 20px;
            
            margin-bottom: 60px;
            background-image: url(voter_id.jpg);
            background-size: cover;
    
            text-align: center;
            
    
            a{
                text-decoration: none;            
            }  
        
        }
    
        #voter_id_info{
             
            margin: 0 auto;
            height: 300px;
            width: 1000px;
            background-color: #ffffff;
            border-radius: 20px;  
            margin-bottom: 60px; 

            #v_info{
                margin: 30px;
            

                h2{
                    
                    margin-bottom: 25px;
                    font-size: 30px;
                    color: #0C0950;
                    
                    
                }
    
                li{
                    margin-bottom: 15px;
                    font-size: 20px;
                    font-weight: 500;
                    color: #0C0950;
                    /* font-family: cursive; */
                }
    
                a{
                    text-decoration: none;
                    margin-left: 750px;
                    font-weight: 700;
                    color: #0C0950;
                }
            }
            
            
        
        }
    }


    #driving_license{
  
        padding: 50px;
        padding-bottom: 30px;
        display: flex;
    
        div{
            display: inline-block;
            margin-right: 100px;
            
        }
    
        #driving_license_id{
            height: 300px;
            width: 300px;
            background-color: #0C0950;
            border-radius: 20px;
            
            margin-bottom: 60px;
            background-image: url(driving_license.jpg);
            background-size: cover;
    
            background-position: center;
            
    
            a{
                text-decoration: none;            
            }  
        
        }
    
        #driving_license_info{
             
            margin: 0 auto;
            height: 300px;
            width: 1000px;
            background-color: #ffffff;
            border-radius: 20px;  
            margin-bottom: 60px; 

            #d_info{
                margin: 30px;
            

                h2{
                    
                    margin-bottom: 25px;
                    font-size: 30px;
                    color: #0C0950;
                    
                    
                }
    
                li{
                    margin-bottom: 15px;
                    font-size: 20px;
                    font-weight: 500;
                    color: #0C0950;
                    /* font-family: cursive; */
                }
    
                a{
                    text-decoration: none;
                    margin-left: 750px;
                    font-weight: 700;
                    color: #0C0950;
                }
            }
            
            
        
        }
    }


    #passport{
  
        padding: 50px;
        padding-bottom: 30px;
        display: flex;
    
        div{
            display: inline-block;
            margin-right: 100px;
            
        }
    
        #passport_logo{
            height: 300px;
            width: 300px;
            background-color: #0C0950;
            border-radius: 20px;
            
            margin-bottom: 60px;
            background-image: url(passport.jpg);
            background-size: cover;
    
            text-align: center;
        
        }
    
        #passport_info{
             
            margin: 0 auto;
            height: 300px;
            width: 1000px;
            background-color: #ffffff;
            border-radius: 20px;  
            margin-bottom: 60px; 
            
            #p_info{
                margin: 30px;
            

                h2{
                    
                    margin-bottom: 25px;
                    font-size: 30px;
                    color: #0C0950;
                    
                    
                }
    
                li{
                    margin-bottom: 15px;
                    font-size: 20px;
                    font-weight: 500;
                    color: #0C0950;
                    /* font-family: cursive; */
                }
    
                a{
                    text-decoration: none;
                    margin-left: 750px;
                    font-weight: 700;
                    color: #0C0950;
                }
            }
        
        }
    }


    #ration{
  
        padding: 50px;
        padding-bottom: 30px;
        display: flex;
    
        div{
            display: inline-block;
            margin-right: 100px;
            
        }
    
        #ration_card{
            height: 300px;
            width: 300px;
            background-color: #0C0950;
            border-radius: 20px;
            
            margin-bottom: 60px;
            background-image: url(Ration_Card.jpg);
            background-size: cover;
    
            text-align: center;
              
        
        }
    
        #ration_card_info{
             
            margin: 0 auto;
            height: 300px;
            width: 1000px;
            background-color: #ffffff;
            border-radius: 20px;  
            margin-bottom: 60px; 
            
            #r_info{
                margin: 30px;
            

                h2{
                    
                    margin-bottom: 25px;
                    font-size: 30px;
                    color: #0C0950;
                    
                    
                }
    
                li{
                    margin-bottom: 15px;
                    font-size: 20px;
                    font-weight: 500;
                    color: #0C0950;
                    /* font-family: cursive; */
                }
    
                a{
                    text-decoration: none;
                    margin-left: 750px;
                    font-weight: 700;
                    color: #0C0950;
                }
            }
        
        }
    }


    #birth_c{
  
        padding: 50px;
        padding-bottom: 30px;
        display: flex;
    
        div{
            display: inline-block;
            margin-right: 100px;
            
        }
    
        #birth_certificate{
            height: 300px;
            width: 300px;
            background-color: #0C0950;
            border-radius: 20px;
            
            margin-bottom: 60px;
            background-image: url(Birth\ Certificate.jpeg);
            background-size: cover;
    
            text-align: center;
            
    
            a{
                text-decoration: none;            
            }  
        
        }
    
        #birth_certificate_info{
             
            margin: 0 auto;
            height: 300px;
            width: 1000px;
            background-color: #ffffff;
            border-radius: 20px;  
            margin-bottom: 60px; 
            
            #b_info{
                margin: 30px;
            

                h2{
                    
                    margin-bottom: 25px;
                    font-size: 30px;
                    color: #0C0950;
                    
                    
                }
    
                li{
                    margin-bottom: 15px;
                    font-size: 20px;
                    font-weight: 500;
                    color: #0C0950;
                    /* font-family: cursive; */
                }
    
                a{
                    text-decoration: none;
                    margin-left: 750px;
                    font-weight: 700;
                    color: #0C0950;
                }
            }
        
        }
    }


    #domicile{
  
        padding: 50px;
        padding-bottom: 30px;
        display: flex;
    
        div{
            display: inline-block;
            margin-right: 100px;
            
        }
    
        #domicile_logo{
            height: 300px;
            width: 300px;
            background-color: #0C0950;
            border-radius: 20px;
            
            margin-bottom: 60px;
            background-image: url(Domicile_Certificate.jpg);
            background-size: cover;
    
            background-position: center;
            
        }
    
        #domicile_info{
             
            margin: 0 auto;
            height: 300px;
            width: 1000px;
            background-color: #ffffff;
            border-radius: 20px;  
            margin-bottom: 60px; 
            
            #c_info{
                margin: 30px;
            

                h2{
                    
                    margin-bottom: 25px;
                    font-size: 30px;
                    color: #0C0950;
                    
                    
                }
    
                li{
                    margin-bottom: 15px;
                    font-size: 20px;
                    font-weight: 500;
                    color: #0C0950;
                    /* font-family: cursive; */
                }
    
                a{
                    text-decoration: none;
                    margin-left: 750px;
                    font-weight: 700;
                    color: #0C0950;
                }
            }
        
        }
    }

    
    
    

    





    

    

   



