*{
    padding: 0;
    margin:0;
    font-family: Helvetica, sans-serif
}

body {
    background: #dce3fb;
}

h1{
    padding-top: 62.4px;
    
}

#headingone{
    height:200px ;
    font-size: 32px;
    font-family: Arial;
    text-align: center;
    color: #ffffff;
    background-color: #0C0950;     
}

#searchbar{
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    

    #search{
        
        height: 35px;
        width: 350px;
        border-style: hidden;
        border-radius: 8px
    }
    button{
        height: 35px;
        width: 60px;
        background-color: #574ff6;
        color: #ffffff;
        border-style: hidden;
        
        border-radius: 8px;
    }
}

a{
    margin-right: 100px;
    text-decoration: none;
    color: #d4f0f8;
    

}

#navbar1{
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    font-weight: 700;
    font-size: 25px;
    background-color:#261FB3;
    
}

#slogan{
    padding-left: 110px;
    text-align: ;
    color: #261FB3;
    font-size: 40px;
    font-weight: 600;
}


/* #blocks{

    text-align: center;
    margin: 20px;

    div{
        display: inline-block;
        
        height: 250px;
        width: 250px;
        margin: 50px;
        
    }


}  

#block_1{
    background-color: #0C0950;
    border-radius: 20px;
    background-image: url(common_man.jpeg);
    background-size: cover;
    
}
#block_2{
    background-color: #0C0950;
    border-radius: 20px;
    background-image: url(education.jpeg);
    background-size: cover;
}
#block_3{
    background-color: #0C0950;
    border-radius: 20px;
    background-image: url(farmer.jpeg);
    background-size: cover;
}
#block_4{
    background-color: #0C0950;
    border-radius: 20px;
    background-image: url(RTO.jpeg);
    background-size: cover;
} */


#blocks2{

    text-align: center;
    margin: 20px;

    a{
        display: inline-block;      
        height: 250px;
        width: 250px;
        margin: 50px;
              
    }
}

#block1{
    background-color: #0C0950;
    border-radius: 20px;
    background-image: url(common_man.jpeg);
    background-size: cover;
    
}

#block2{
    background-color: #0C0950;
    border-radius: 20px;
    background-image: url(education.jpeg);
    background-size: cover;
    
}

#block3{
    background-color: #0C0950;
    border-radius: 20px;
    background-image: url(farmer.jpeg);
    background-size: cover;
    
}

#block4{
    background-color: #0C0950;
    border-radius: 20px;
    background-image: url(RTO.jpeg);
    background-size: cover;
    
}






